.navbar{
    width: 100%;
    height: 80px;
    background: #21325e;
    position: fixed;
    top: 0;
    z-index: 1000;
  
}
.links{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}
.toggleButton{
    width: 100%;
    height: 100px;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
.toggleButton svg{
    font-size: 50px;
}
.toggleButton button{
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
#open{
    height: 100vh;
}
#open .links{
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}
#open a{
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .navbar a{
        width: 70px;
    }
}
@media only screen and (max-width: 900px) {
    
    .links {
        display: none !important; 
    }

    .toggleButton {
        display: flex !important; 
        width: 100%;
    }

    
    #open .links {
        display: flex !important; 
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 100px;
    }
}