.projects{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px; 
}

.projects .projectTitle{
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
}

.projectList{
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.ProjectItem {
    width: 300px; 
    height: 350px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    
    transform: translateZ(0); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.ProjectItem:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4);
}

.ProjectItem .bgImage {
    width: 100%;
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ProjectItem h1 {
    font-size: 25px;
    margin-top: 10px;
    color: #3e497a;
}


@media only screen and (max-width: 1300px) {
    .projectList {
        grid-template-columns: 1fr 1fr;
        width: 80vw;
    }
}


@media only screen and (max-width: 800px) {
    .projectList {
        grid-template-columns: 1fr;
        width: 90vw; 
    }
    
    
    .ProjectItem {
        width: 90%; 
        max-width: 400px; 
        height: auto; 
        margin: 15px auto; 
    }

   
    .ProjectItem .bgImage {
        height: 160px; 
    }
    
    .projects .projectTitle {
        font-size: 50px;
    }
}


@media only screen and (max-width: 600px) {
    .projects .projectTitle {
        font-size: 36px;
    }
}