body{
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  padding-top: 100px; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.page-content {
    width: 100%;
    min-height: calc(100vh - 100px); 
    padding: 20px 0; 
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
   
}